@use 'variables';

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: variables.$fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
} // we can use font shorthand inistead

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

// @mixin uppercase($color: variables.$text-dark) {
//   font-weight: 300;
//   letter-spacing: 2px;
//   text-transform: uppercase;
//   color: $color;
// }
@mixin divider($color: $accent1) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}
@mixin side-image-left ($image, $left) {
  content: "";
  background-image: $image;
	background-repeat: no-repeat;
	position: absolute;
  top: 0;
	width: 100%; 
	height: 100%;
  background-position: left center; 
  left: $left;
}
@mixin side-image-right ($image, $right) {
  content: "";
  background-image: $image;
	background-repeat: no-repeat;
	position: absolute;
  top: 0;
	width: 100%; 
	height: 100%;
  background-position: right center; 
  right: $right;
}


// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h2,
h4 {font-family: variables.$fonts-headline; margin: 0}
h1 {font: 300 4em variables.$font-title; color: variables.$text-dark; text-transform: uppercase; margin: 0 0 0.5em}
// h1{
// 	// @include uppercase(variables.$text-dark);
//   font-weight: 300;
//   letter-spacing: 2px;
//   text-transform: uppercase;
//   color: variables.$text-dark;
// 	font-family: variables.$font-title;
// 	font-size: 4em;
// }
h2 {font-weight: 400; color: variables.$text-dark;}
// h2 {
//   color: variables.$text-dark;
//   font-weight: 400; /* Heavy */
//   letter-spacing: 1px;
//   line-height: 1em;
// }
h3 {font: 200 2.25em variables.$fonts-headline; padding: 0.5em 0 0.25em 0;}
// h3 {
//   font-size: 2.25em;
//   font-weight: 200; /* Thin */
//   letter-spacing: 1px;
//   line-height: 1em;
//   padding: 0.5em 0 0.25em 0;
// }
h4 {font: 200 1.5em; margin: 0.5em 0;}
// h4 {
//   font-size: 1.5em;
//   font-weight: 200; /* Thin */
//   letter-spacing: 1px;
//   line-height: 1em;
//   margin: 0.5em 0;
// }

p {font: 1em/1.5em variables.$fonts-body; padding: 0.5em 0; margin: 0;}
// p {
//   font: 1em/1.5em variables.$fonts-body;
//   // @include set-font(1em, 1.5em);
//   padding: 0.5em 0;
//   margin: 0;
// }
li {
  font-size: 1rem;
  color: variables.$grey-sidebar;
}
ul {
	list-style-type: none;
}
a { //applies for all links 
  position: relative;
  bottom: 0px;
  color: variables.$text-dark;
  text-decoration: none;
  font-family: variables.$font-title;
  transition: bottom 0.2s;
  &:hover {
    bottom: 5px;
  }
}
// a.design-name {
//   font-size: 1.3rem;
//   font-family: variables.$fonts-body;
//   font-weight: bold;
//   padding: 1rem 0px .5rem;
// }
