
@use 'variables';
@use 'atoms';

.intro {
    padding: 2%;
  }

// these styles here describe how the atoms (elements) should appear most of the time
h2,
h3,
h4 {
  font-family: variables.$fonts-headline;
  margin: 0;
}

h2 {
  color: variables.$text-dark;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1em;
}
h3 {
  font-size: 2.25em;
  font-weight: 200; 
  letter-spacing: 1px;
  padding: 0.5em 0 0.25em 0;
}
p {
  @include atoms.set-font(1em, 1.5em);
  padding: 0.5em 0;
  margin: 0;
}

a {
  color: variables.$text-dark;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: variables.$accent1;
}
