/* css Zen Garden*/
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Courgette&family=Forum&display=swap");
h2,
h3,
h4 {
  font-family: "Courgette", cursive;
  margin: 0;
}

h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3E777A;
  font-family: "Forum";
  font-size: 4em;
}

h2 {
  color: #3E777A;
  font-weight: 400; /* Heavy */
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #3E777A;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #3E777A;
}

.summary a {
  color: #150606;
  font-family: "Courgette", cursive;
}
.summary p {
  font-family: "Courgette", cursive;
  text-align: right;
}

/* We should remove the white background here unless we want it on all of the paragraphs.
.preamble {
  background: rgba(255, 255, 255, 0.9);
  // margin-left: -30%;
}
*/
.intro {
  padding: 2%;
}

/* basic elements */
body {
  padding: 2em;
  width: 1000px;
  margin: auto;
  background-color: #f8f5f9;
  background-image: radial-gradient(white 15%, transparent 20%), radial-gradient(white 15%, transparent 20%);
  background-size: 50px 50px;
  background-position: 0 0, 30px 30px;
}
@media screen and (max-width: 700px) {
  body {
    width: auto;
    margin: auto;
    padding: 1em;
    background-size: 20px 20px;
  }
}

.intro {
  background-image: url(banneropaque.png);
  background-size: 100% auto;
  grid-column: span 3;
  grid-row: 1/2;
}
@media screen and (max-width: 700px) {
  .intro {
    background-image: url(banneropaque.png);
    background-size: 100% auto;
    grid-column: span 3;
  }
}

.preamble, .mainsupporting, .participation, .benefits, .requirements {
  text-align: justify;
}
.preamble h3, .mainsupporting h3, .participation h3, .benefits h3, .requirements h3 {
  text-align: left;
}
@media screen and (max-width: 700px) {
  .preamble, .mainsupporting, .participation, .benefits, .requirements {
    text-align: right;
  }
  .preamble p, .mainsupporting p, .participation p, .benefits p, .requirements p {
    text-align: justify;
  }
}

.page-wraher {
  display: grid;
  grid-template-columns: 22% 1fr 22%;
  grid-gap: 1em;
}
.page-wraher > .preamble, .page-wraher .mainsupporting, .page-wraher footer {
  grid-column: 2/3;
}
@media screen and (max-width: 700px) {
  .page-wraher {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

#zen-preamble, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements {
  position: relative;
}

#zen-preamble::before {
  content: "";
  background-image: url(singlerose.png);
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 0;
  left: -230px;
  width: 100%;
  height: 100%;
  animation: appear 10s linear infinite;
}
@media screen and (max-width: 700px) {
  #zen-preamble::before {
    content: "";
    background-image: url(singlerose.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 0;
    left: -230px;
    width: 100%;
    height: 100%;
    animation: appear-down 10s linear;
  }
}

#zen-explanation::before {
  content: "";
  background-image: url(yellowflower.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  top: 0;
  right: -255px;
  width: 100%;
  height: 100%;
  animation: appear 10s linear infinite;
}
@media screen and (max-width: 700px) {
  #zen-explanation::before {
    content: "";
    background-image: url(yellowflower.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 0;
    left: -260px;
    width: 100%;
    height: 100%;
    animation: appear-down 10s linear;
  }
}

#zen-participation::before {
  content: "";
  background-image: url(lightpinkpeony.png);
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 0;
  left: -260px;
  width: 100%;
  height: 100%;
  animation: appear 10s linear infinite;
}
@media screen and (max-width: 700px) {
  #zen-participation::before {
    content: "";
    background-image: url(lightpinkpeony.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 0;
    left: -250px;
    width: 100%;
    height: 100%;
    animation: appear-down 10s linear;
  }
}

#zen-benefits::before {
  content: "";
  background-image: url(mediumpinkpeony.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: absolute;
  top: 0;
  right: -270px;
  width: 100%;
  height: 100%;
  animation: appear 10s linear infinite;
}
@media screen and (max-width: 700px) {
  #zen-benefits::before {
    content: "";
    background-image: url(mediumpinkpeony.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 0;
    left: -250px;
    width: 100%;
    height: 100%;
    animation: appear-down 10s linear;
  }
}

#zen-requirements::before {
  content: "";
  background-image: url(LongFlower.png);
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 0;
  left: -320px;
  width: 100%;
  height: 100%;
  animation: appear 10s linear infinite;
}
@media screen and (max-width: 700px) {
  #zen-requirements::before {
    content: "";
    background-image: url(LongFlower.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 0;
    left: -315px;
    width: 100%;
    height: 100%;
    animation: appear-down 10s linear;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear-down {
  0% {
    top: -10%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 0;
  }
}
.sidebar {
  grid-column: span 3;
}
@media screen and (max-width: 700px) {
  .sidebar {
    grid-column: span 2;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  padding: 1em;
  column-gap: 2em;
  height: 350px;
}
.wrapper h3 {
  text-align: center;
  padding: 25px;
}
.wrapper .design-selection, .wrapper .design-archives, .wrapper .zen-resources {
  background-color: #f2becb;
  will-change: transform;
  transition: transform 450ms;
  border-radius: 0 0 25% 25%;
}
.wrapper .design-selection:hover, .wrapper .design-archives:hover, .wrapper .zen-resources:hover {
  background-color: rgb(235, 232, 232);
  transform: translateY(50px);
}
.wrapper .design-selection {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 95px;
  animation: image1 10s infinite alternate;
}
.wrapper .design-archives {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 95px;
  animation: image2 10s infinite alternate;
}
.wrapper .zen-resources {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 95px;
  animation: image3 10s infinite alternate;
}
@keyframes image1 {
  0% {
    background-image: url(sunflower.png);
  }
  33% {
    background-image: url(lightpinkpeony.png);
  }
  66% {
    background-image: url(yellowflower.png);
  }
  100% {
    background-image: url(pinkrose.png);
  }
}
@keyframes image2 {
  0% {
    background-image: url(pinkrose.png);
  }
  33% {
    background-image: url(peachpeony.png);
  }
  66% {
    background-image: url(sunflower.png);
  }
  100% {
    background-image: url(lightpinkpeony.png);
  }
}
@keyframes image3 {
  0% {
    background-image: url(lightpinkpeony.png);
  }
  33% {
    background-image: url(yellowflower.png);
  }
  66% {
    background-image: url(peachpeony.png);
  }
  100% {
    background-image: url(mediumpinkpeony.png);
  }
}
@media screen and (max-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .wrapper .design-selection, .wrapper .design-archives, .wrapper .zen-resources {
    border-radius: 0 50% 50% 0;
    background-position: left top;
  }
  .wrapper .design-selection:hover, .wrapper .design-archives:hover, .wrapper .zen-resources:hover {
    background-color: rgb(235, 232, 232);
    transform: translateX(50px);
  }
}

/*# sourceMappingURL=style.css.map */
