/* css Zen Garden*/
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

@use "variables";
@use "atoms";
@use "molecules";
@use "organisms";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Courgette&family=Forum&display=swap');

/*-------------------------------------------    
	BLOCK LEVEL
-------------------------------------------*/
//Body styling using radial-gradients that change size based on the large screen or small screen.
body{
	padding: 2em;
	width: 1000px;
	margin: auto;
	background-color: variables.$background-color;
	background-image: radial-gradient(white 15%, transparent 20%),
	  radial-gradient(white 15%, transparent 20%);
	background-size: 50px 50px;
	background-position: 0 0, 30px 30px;
	@media screen and  (max-width: 700px){
		width: auto;
		margin: auto;
		padding: 1em;
		background-size: 20px 20px;
	}
}

// Banner styling for the website 
.intro{ 
	background-image: url( banneropaque.png);	
	background-size: 100% auto;	
	grid-column: span 3;
	grid-row: 1/2;
	@media screen and  (max-width: 548px){
		background-image: none;	
	}
}
/*-------------------------------------------    
	ANIMATIONS FOR INTRO
-------------------------------------------*/
.intro { 
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-iteration-count: 1;
}
[role="article"] {
	-webkit-opacity: 0;
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
}
@keyframes FADEY {
	0%	 { opacity: 0; }
	100% { opacity: 1; }
}

//Text align for website content
.preamble, .mainsupporting, .participation, .benefits, .requirements{
	text-align: justify;
	h3{
		text-align: left;
	}
	@media screen and (max-width: 700px){
		text-align: right;
		p{
			text-align: justify;
		}
	}
}
//Content container divided into columns
.page-wraher{
	display: grid;
	grid-template-columns: 22% 1fr 22%;
	grid-gap: 1em;
	& > .preamble, .mainsupporting, footer{
		grid-column: 2/3;
	}
	@media screen and  (max-width: 700px){
		display: grid;
		grid-template-columns: 1fr 1fr;	
	}
}

/*-------------------------------------------    
	ADDED CONTENT WITH CSS
-------------------------------------------*/
#zen-preamble, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements{
	position: relative;
}
//Image positioning
#zen-preamble::before {
	@include atoms.side-image-left(url(singlerose.png), calc(0px - 230px));
	animation: appear 10s linear infinite;
	@media screen and  (max-width: 700px){
		@include atoms.side-image-left(url(singlerose.png), calc(0px - 230px));
		animation: appear-down 10s linear;
	}
  }

#zen-explanation::before {
	@include atoms.side-image-right(url(yellowflower.png), calc(0px - 255px));
	animation: appear 10s linear infinite;
	@media screen and  (max-width: 700px){
		@include atoms.side-image-left(url(yellowflower.png), calc(0px - 260px));
		animation: appear-down 10s linear;

	}
  }

#zen-participation::before{
	@include atoms.side-image-left(url(lightpinkpeony.png), calc(0px - 260px));
	animation: appear 10s linear infinite;
	@media screen and  (max-width: 700px){
		@include atoms.side-image-left(url(lightpinkpeony.png), calc(0px - 250px));
		animation: appear-down 10s linear;

	}
}
#zen-benefits::before{
	@include atoms.side-image-right(url(mediumpinkpeony.png), calc(0px - 270px));
	animation: appear 10s linear infinite;
	@media screen and  (max-width: 700px){
		@include atoms.side-image-left(url(mediumpinkpeony.png), calc(0px - 250px));
		animation: appear-down 10s linear;

	}
}

#zen-requirements::before{
	@include atoms.side-image-left(url(LongFlower.png), calc(0px - 320px));
	animation: appear 10s linear infinite;
	@media screen and  (max-width: 700px){
		@include atoms.side-image-left(url(LongFlower.png), calc(0px - 315px));
		animation: appear-down 10s linear;

	}
}

/*-------------------------------------------    
	ANIMATIONS KEYFRAMES
-------------------------------------------*/

//Animation for images in large screen
@keyframes appear {
	0% {
		opacity: 0;
	  }
	  50% {
		opacity: 1;
	  }
	  100% {
		opacity: 0;
	  }
  }
  
//Animation for images in small screen
  @keyframes appear-down {
	0% {
		top: -10%;
	  }
	  50%{
		top: 30%;
	  }
	  100% {
		top: 0;
	  }
  }

//Pink  boxes at the bottom
.sidebar{
	grid-column: span 3;
	@media screen and  (max-width: 700px){
		grid-column: span 2;
	}
}
//Grid container for the three pink boxes at the bottom of the page.
.wrapper{
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
	padding: 1em;
	column-gap: 2em;
	height: 350px;
	h3{
		text-align: center;
		padding: 25px;
	}
	//This section styles the three pink boxes at the bottom of the page.
	.design-selection, .design-archives, .zen-resources{
			background-color: variables.$accent3;
			will-change: transform;
			transition: transform 450ms;
			border-radius: 0 0 25% 25%;

		   }
		   //Hover causes a color change and a transform moving the boxes down.
		  .design-selection:hover, .design-archives:hover, .zen-resources:hover {
		   background-color: rgb(235, 232, 232);
		   transform: translateY(50px);
			}
		//Styling the flowers for the pink boxes
			.design-selection {
				@include atoms.box-flowers(image1 10s infinite alternate);
			  }
			  
			  .design-archives {
				@include atoms.box-flowers(image2 10s infinite alternate);

			  }
			  .zen-resources {
				@include atoms.box-flowers(image3 10s infinite alternate);

			  }
			  //Animation for the flowers in the pink boxes
			  @keyframes image1 {
				0%{background-image:url(sunflower.png);}
				33%{background-image:url(lightpinkpeony.png);}
				66%{background-image:url(yellowflower.png);}
				100%{background-image:url(pinkrose.png);}
			  }
			  @keyframes image2 {
				0%{background-image:url(pinkrose.png);}
				33%{background-image:url(peachpeony.png);}
				66%{background-image:url(sunflower.png);}
				100%{background-image:url(lightpinkpeony.png);}
			  }
			  @keyframes image3 {
				0%{background-image:url(lightpinkpeony.png);}
				33%{background-image:url(yellowflower.png);}
				66%{background-image:url(peachpeony.png);}
				100%{background-image:url(mediumpinkpeony.png);}
			  }
	
			  
	//Pink boxes hovering	  
	@media screen and  (max-width: 700px){
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 10px;
		.design-selection, .design-archives, .zen-resources {
			border-radius: 0 50% 50% 0;
			background-position: left top;
			
		   }
		.design-selection:hover, .design-archives:hover, .zen-resources:hover {
			background-color: rgb(235, 232, 232);
			transform: translateX(50px);
			 }

	}
}
	
	

