/* css Zen Garden*/
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */
@use "variables";
@use "atoms";
@use "molecules";
@use "organisms";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Courgette&family=Forum&display=swap');

* { margin: 0; padding: 0; }
body{
	//Body styling using radial-gradients that change size based on the large screen or small screen.
	padding: 1em;
	width: auto;
	margin: auto;
	background-color: variables.$background-color;
	background-image: radial-gradient(white 15%, transparent 20%),
	  radial-gradient(white 15%, transparent 20%);
	background-size: 50px 50px;
	background-position: 0 0, 30px 30px;
}
.page-wraher {
	display: grid;
	grid-template-columns: 22% 1fr 22%;
	grid-gap: 1em;
	text-align: center;
}



/*-------------------------------------------    
	ANIMATIONS KEYFRAMES
-------------------------------------------*/
//Animations for the flowers in the pink boxes
@keyframes image1 {
	0%   { background-image:url(sunflower.png);      }
	33%  { background-image:url(lightpinkpeony.png); }
	66%  { background-image:url(yellowflower.png);   }
	100% { background-image:url(pinkrose.png);       }
}
@keyframes image2 {
	0%   { background-image:url(pinkrose.png);		 }
	33%  { background-image:url(peachpeony.png);     }
	66%  { background-image:url(sunflower.png);      }
	100% { background-image:url(lightpinkpeony.png); }
}
@keyframes image3 {
	0%   { background-image:url(lightpinkpeony.png);  }
	33%  { background-image:url(yellowflower.png);    }
	66%  { background-image:url(peachpeony.png);	  }
	100% { background-image:url(mediumpinkpeony.png); }
}
@keyframes appear {
	0%    { opacity: 0; }
	50%   { opacity: 1; }
	100%  { opacity: 0; }
}
@keyframes appear-down {
	0%	 { top: -10%; }
	50%	 { top: 30%;  }
	100% { top: 0;    }
}
@keyframes FADEY {
	0%	 { opacity: 0; }
	100% { opacity: 1; }
}



/*-------------------------------------------    
	ANIMATIONS 
-------------------------------------------*/
.intro { 
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-iteration-count: 1;
}

[role="article"] {
	-webkit-opacity: 0;
	-webkit-animation-name: FADEY;
	-webkit-animation-duration: 1s; 
	-webkit-animation-timing-function: ease-in-out; 
	-webkit-animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
}



/*-------------------------------------------    
	ADDED CONTENT WITH CSS
-------------------------------------------*/
#zen-preamble::before {
	@include atoms.side-image-left(url(singlerose.png), calc(0px - 230px));
	animation: appear 5s linear infinite;
  }

#zen-explanation::before {
	@include atoms.side-image-right(url(yellowflower.png), calc(0px - 255px));
	animation: appear 5s linear infinite;
}

#zen-participation::before{
	@include atoms.side-image-left(url(lightpinkpeony.png), calc(0px - 260px));
	animation: appear 5s linear infinite;
}
#zen-benefits::before{
	@include atoms.side-image-right(url(mediumpinkpeony.png), calc(0px - 270px));
	animation: appear 5s linear infinite;
}

#zen-requirements::before{
	@include atoms.side-image-left(url(LongFlower.png), calc(0px - 320px));
	filter: drop-shadow(10px, 10px, 10px rgba(239, 235, 235, 0.6));
	animation: appear 5s linear infinite;
}
.design-selection::before {
	animation: image1 10s infinite alternate;
}
.design-archives::before {
	animation: image2 10s infinite alternate;
}
.zen-resources::before {
	animation: image3 10s infinite alternate;
}



/*-------------------------------------------    
	INTRO 
-------------------------------------------*/
.intro {
	grid-column: 2/3;
	background-image: url(banneropaque.png);	
	background-repeat: no-repeat; //avoids repetition of the background image
	background-size: 100% auto;	
	grid-column: 1/-1;
	grid-row: 1/2;
}
/*-------------------------------------------    
	PREAMBLE 
-------------------------------------------*/
.preamble {
	grid-column: 2/3;
	position: relative;
}
/*-------------------------------------------    
	MAINSUPPORTING 
-------------------------------------------*/
.mainsupporting {
	grid-column: 2/3;
}
.explanation,
.participation,
.benefits,
.requirements {
	position: relative;
}
/*-------------------------------------------    
	SIDEBAR 
-------------------------------------------*/
.sidebar {
	grid-column: 1/-1;
}
.wrapper {
	display: block;
}
.design-selection, 
.design-archives, 
.zen-resources {
	text-align: center;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 95px;
	li {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	&::before {
		content: '';
	    display: block;
		width: 100px;
		height: 100px;
		margin: auto;
		position: relative;
		top: 0px;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: contain;
	}
}
h3.select, 
h3.archives, 
h3.resources {
	font: 3rem variables.$font-title;
	text-align: center;
	padding-bottom: 25px;
	color: black;
}
.design-selection nav ul {
	display: flex;
	flex-direction: column;
	font-size: 2em;
}
div.design-selection li {
    margin-bottom: 2rem;
	color: #aaa;
}
a.design-name {
	font-weight: bold;
}
/*-------------------------------------------    
	LARGER SCREEN
-------------------------------------------*/
@media screen and  (min-width: 700px) {
	body {
		padding: 2em;
	    width: 1000px;
		// background-size: 20px 20px;
	}
	.page-wraher {
		grid-template-columns: 22% 1fr 22%;	
	}
	.wrapper {
		display: flex;
	    gap: 2rem;
	    justify-content: space-around;
	}
	h3.select, 
    h3.archives, 
    h3.resources {
		font: 2rem variables.$font-title;
	    text-align: center;
	    padding-bottom: 25px;
	    color: black;
    }
	div.design-selection,
    div.design-archives,
    div.zen-resources {
		text-align: left;
		li {
			font-size: 1rem;
		}
    }
}	